@import 'micromodal';
@import 'swiper';
@import 'style';
@tailwind base;
@tailwind components;
@tailwind utilities;

.guest-logo {
    width: 300px;
}
.logo{
    width: 180px;
    margin-top: 10px;
}

.my_page_img {
    margin-left: 20%;
    margin-bottom: 30px;
}
.my_page_img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.my_page {
    margin-left: 20%;
}