@import 'micromodal';
@import 'swiper';
@import 'question';
@import 'cms';
@import 'topPage';
@import 'shop';
@import 'admin-nav';
@import 'items';
@tailwind base;
@tailwind components;
@tailwind utilities;



.login-btn {
    text-align: center;
    display: block;
    width: 100%;

}

.nav_modal {
    padding:0 100px;
}
.nav_modal a{
    font-size: 20px;
    margin-bottom: 10px;
}