.comment {
    margin-top:2rem;
}
.comment-btn{
    margin-left:70%;
}

.comment-area{
    margin-left: 20%;
}
.comment-txt {
    width: 70%;
}

.comment-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.balloon2-left {
    position: relative;
    display: inline-block;
    margin: 0 0 1.5em 5%;
    padding: 7px 10px;
    min-width: 120px;
    /* max-width: 100%; */
    width: 90%;
    height: 100px;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 1px #9b9b9bc7;
    box-sizing: border-box;
}

.balloon2-left:before {
    content: "";
    position: absolute;
    top: 20%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
}

.balloon2-left:after {
    content: "";
    position: absolute;
    top: 20%;
    left: -28px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid #bab9b9;
    z-index: 1;
}

.balloon2-left p {
    margin: 0;
    padding: 0;
}


/* 戻る  左下アイコン */
.back-to-top {
    display: none;
    position: fixed;
    /* right: 5%; */
    left: 5%;
    bottom: 5%;
    color: #fff;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
}
@media screen and (max-width:390px) {
    .back-to-top {
    right: -1%;
    bottom: -1%;
    }
}

.back-to-top::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 50%;
    z-index: -1;
}
.back-to-top:hover {
    color: #FFF;
}
.back-to-top span{
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: all .5s;
    display: block;
    white-space: nowrap;
}
@media screen and (max-width:390px) {
    .back-to-top::before {
    width: 40px;
    height: 40px;
    }
}
/*差し替わるテキストの設定*/
.back-to-top span:nth-child(2){
	opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.back-to-top:hover span:nth-child(1){
	opacity:0;/*透過0に*/
}

.back-to-top:hover span:nth-child(2){
	opacity:1;/*不透明に*/
}