.comment {
    margin-top:2rem;
}
.comment-btn{
    margin-left:70%;
}

.comment-area{
    margin-left: 20%;
}
.comment-txt {
    width: 70%;
}

.comment-icon img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.balloon2-left {
    position: relative;
    display: inline-block;
    margin: 0 0 1.5em 5%;
    padding: 7px 10px;
    min-width: 120px;
    width: 90%;
    /* height: 100px; */
    height: 70px;
    color: #555;
    font-size: 16px;
    background: #FFF;
    border: solid 1px #9b9b9bc7;
    box-sizing: border-box;
}

.balloon2-left:before {
    content: "";
    position: absolute;
    top: 20%;
    left: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-right: 12px solid #FFF;
    z-index: 2;
}

.balloon2-left:after {
    content: "";
    position: absolute;
    top: 20%;
    left: -28px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-right: 14px solid #bab9b9;
    z-index: 1;
}

.balloon2-left p {
    margin: 0;
    padding: 0;
}


/* 戻る  左下アイコン */
.back-to-top {
    display: none;
    position: fixed;
    /* right: 5%; */
    left: 5%;
    bottom: 5%;
    color: #fff;
    padding: 2rem;
    border-radius: 50%;
    display: inline-block;
    text-decoration: none;
}
@media screen and (max-width:390px) {
    .back-to-top {
    right: -1%;
    bottom: -1%;
    }
}

.back-to-top::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 50%;
    z-index: -1;
}
.back-to-top:hover {
    color: #FFF;
}
.back-to-top span{
    position: absolute;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: all .5s;
    display: block;
    white-space: nowrap;
}
@media screen and (max-width:390px) {
    .back-to-top::before {
    width: 40px;
    height: 40px;
    }
}
/*差し替わるテキストの設定*/
.back-to-top span:nth-child(2){
	opacity:0;/*透過0に*/
}

/*hoverするとテキストが入れ替わる設定*/
.back-to-top:hover span:nth-child(1){
	opacity:0;/*透過0に*/
}

.back-to-top:hover span:nth-child(2){
	opacity:1;/*不透明に*/
}

/* 検索ボックス */
.search-form-002 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid #2589d0;
    border-radius: 25px;
}

.search-form-002 input {
    width: 250px;
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form-002 input::placeholder{
    color: #767d83;
}

.search-form-002 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: #2589d0;
    cursor: pointer;
}

.search-form-002 button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

a.question-page-signUp-btn {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #27acd9;
    color: #27acd9;
    border-radius: 100vh;
    transition: 0.5s;
    text-align: center;
}
a.question-page-signUp-btn:hover {
    color: #fff;
    background: #27acd9;
}

.question_header {
    justify-content: space-between;
}

.thread-image img{
    margin-top: 50px;
    width: 250px;
    height: 200px;
}

.thread-delete {
    justify-content: end;
    margin-right: 50px;
    margin-bottom: 10px;
}
.thread-delete button:hover {
    color:rgb(243, 13, 13);
}

.comment-delete {
    justify-content: end;
    margin-bottom: 10px;

}
.comment-delete button:hover {
    color: red;
}

.thread-content {
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    opacity: 0.6;
    width: 70%;
}

.thread-create {
    font-size: 12px;
}
a:hover{
    color: #333;
}





.read-more-002 {
    position: relative;
}





.read-more-002:has(:checked) p::after {
    content: none;
}

.read-more-002 label {
    display: flex;
    align-items: center;
    gap: 0 4px;
    position: absolute;
    bottom: 0;
    left: 75%;
    /* bottom: 10; */
    transform: translateX(-50%);
    color: #4f96f6;
    font-size: .8em;
}

.read-more-002 label:hover {
    color: #c7511f;
    text-decoration: underline;
    cursor: pointer;
}

.read-more-002:has(:checked) label {
    display: none;
}

.read-more-002 label::after {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-color: #b6bdc3;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.read-more-002 input {
    display: none;
}