.guest-logo {
    width: 300px;
}
.logo{
    width: 180px;
    margin-top: 10px;
}

.my_page_img {
    margin-left: 20%;
    margin-bottom: 30px;
}
.my_page_img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.my_page {
    margin-left: 20%;
}
.header_icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.p-swiper-container{
    /* position: relative; */
    width: 100vw;
    height: 100vh;
}
.p-swiper-container img{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    backface-visibility: hidden;
}

/* 検索画面 */
/* index.htmlの検索ボックス */
.shop__search {
    display: flex;
    border:0.1px solid #000;
    box-shadow: 2px 2px 4px gray ;
    z-index: 5;
}
@media screen and (max-width:1080px) {
    .shop__search{
    margin-left: 2%;
    width: 85%;
    }
}
@media screen and (max-width:390px) {
    .shop__search{
    display: block;
    border:0.1px solid #000;
    box-shadow: 2px 2px 4px gray ;
    z-index: 5;
    margin: 0 auto;
    margin-top: 50px;
    width:100%;
    height:40px;
    }
}
.shop__search ::placeholder {
    text-align: center;
    color: rgb(156, 152, 152);
}
@media screen and (max-width:390px) {
    .shop__search ::placeholder {
    font-size: 15px;
    }
}

.shop__search input {
    border: 0;
    border-right: 0.5px solid #000 ;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 300px;
}
@media screen and (max-width:1080px) {
    .shop__search input {
    border: 0;
    border-right: 0.5px solid #000 ;
    height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: calc(85vw/2);
    }
}
@media screen and (max-width:390px) {
    .shop__search__area input{
    border: 1px solid #000 ;
    margin-bottom: 2px;
    }
    .search__store input{
    border: 1px solid #000 ;
    }
    .shop__search input{
    width:100%;
    height: 40px;
    }
}
.search_container input[type="submit"]{
    cursor: pointer;
    background: #3879D9;
    color: #fff;
    outline : none;
    width: 100px;
    height: 50px;
    font-size: 150%;
    box-shadow: 2px 2px 4px gray ;
}
@media screen and (max-width:390px) {
    .search_container input[type="submit"]{
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-top: 2px;
    }
}



/*スクロールダウン全体の場所*/
.scrolldown4{
    position:absolute;
    bottom:1%;
    right:50%;
    animation: arrowmove 1s ease-in-out infinite;
    z-index: 99;
    }

    @keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
    100%{bottom:1%;}
    }


    .scrolldown4 span{

    position: absolute;
    left:-20px;
    bottom:10px;
    color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    }

    /* 矢印の描写 */
    .scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 2px;
    height: 30px;
    background: #eee;
    transform: skewX(-31deg);
    }

    .scrolldown4:after{
    content:"";
    /*描画位置*/
    position: absolute;
    bottom:0;
    right:0;
    /*矢印の形状*/
    width:1px;
    height: 50px;
    background:#eee;
    }

.merchandise-txt {
    font-size: 20px;
    position: relative;
    padding: 0.6em;
    background: #e0edff;
}
.merchandise-txt:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
    width: 0;
    height: 0;
}
.merchandise svg {
    position: absolute;
    margin-top: 10px;
    right: 150px;
    z-index: 10;
}


/* 都道府県ツリー */
#listBlock, #listBlock li {
    margin: 0;
    padding: 2px 0;
    border: none;
    list-style: none;
}
#listBlock ul {
    list-style: none;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
}

.listIn {
    cursor: pointer;
    user-select: none;
    display: block;
}
.listIn:hover {
    background: #eee;
}
.listIn::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    opacity: 0.25;
    font-size: 0.7rem;
    vertical-align: middle;
    transition: 0.1s ease-in-out;
}
.listIn.listIn-down {
    font-weight: 600;
}
.listIn-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}


.works_list{
    width: 70%;
    margin: 0 auto;
}
.list-box {
    margin: 40px 0;
}

.works_item {
    list-style: none;
    position: relative;
    /* width: 200px; */
    /* padding: 10px; */
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto;
    border: 0.5px solid #2e4ae8;

    /* background-color: #5bb6f3; */
}
.works_modal_open {
    /* height: 100px; */

    text-align: center;
}
.works_image_mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgb(103, 206, 244);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    cursor: pointer;
    border-radius: 20px;
}
.mask_text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.works_modal_content label{
    margin: 20px;
    font-size: 20px;
}
.works_image:hover .works_image_mask {
    opacity: 1;
    padding-top: 13%;
}
/* ------works_modal css------ */
.works_modal_wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    opacity: 0;
    z-index: -1;
}
.works_modal_window {
    width: 40vw;
    max-width: 1000px;
    height: 50vh;
    margin: auto;
    padding: 15px;
    background: #fff;
    z-index: 1;
    overflow-y: hidden;
}
.works_modal_content {
    margin: 0 auto;
    width: 80%;
    height: 80%;
}
.works_modal_mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.works_modal_close {
    z-index: 300;
    position: absolute;
    top: 0;
    right: 10px;
    color: #808080;
    font-size: 1.5rem;
    cursor: pointer;
}
.works_modal_close:hover {
    color: #000;
    transition: all .5s;
}
html.is_open, body.is_open {
    overflow: hidden;
}
.works_modal_wrapper.is_open {
    animation: works_modal_wrapper_open .5s ease forwards;
}
.works_modal_wrapper.is_open .works_modal_window {
    animation: works_modal_window_open .5s ease forwards;
}
.works_modal_wrapper.is_close {
    animation: works_modal_wrapper_close .5s ease forwards;
}
.works_modal_wrapper.is_close .works_modal_window {
    animation: works_modal_window_close .5s ease forwards;
}

@keyframes works_modal_wrapper_open {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    z-index: 300;
    }
}
@keyframes works_modal_window_open {
    0% {
    opacity: 0;
    transform: translateY(-30px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}
@keyframes works_modal_wrapper_close {
    0% {
    z-index: 300;
    opacity: 1;
    }
    100% {
    opacity: 0;
    }
}
@keyframes works_modal_window_close {
    0% {
    opacity: 1;
    transform: translateY(0);
    }
    100% {
    transform: translateY(-30px);
    opacity: 0;
    }
}

.prefectures-txtArea {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border:0.1px solid #000;
    box-shadow: 2px 2px 4px gray ;
    z-index: 5;
    padding: 13px;
}

@media screen and (max-width:960px) {
    .test {
        width: 130px;
    }
    .test img{
        height: 150px;
    }
}
