.guest-logo {
    width: 300px;
}
.logo{
    width: 180px;
    margin-top: 10px;
}


.header_icon img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.p-swiper-container{
    /* position: relative; */
    width: 100vw;
    height: 100vh;
}
.p-swiper-container img{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    backface-visibility: hidden;
}

/* 検索画面
/* index.htmlの検索ボックス */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* 640 */
.search__store {
    display: flex;
    width: 50%;
    margin: auto;
}
@media screen and (max-width:640px) {
    .search__store {
        width: 70%;
    }
}
@media screen and (max-width:450px) {
    .search__store {
        width: 100%;
    }
}

.search input[type=text] {
    width: 100%;
    font-size: 20px;
    padding: 0 6px;
    color: #474747;
    border: 2px solid #474747;
    border-radius: 3px 0 0 3px;
    outline: none;
}

.search button[type=submit] {
    padding: 10px 20px;
    font-size: 16px;
    color: #FFF;
    background: #474747;
    border: 2px solid #474747;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

/* colors */
.royalblue input[type=text] {
    border-color: #4169e1;
}

.royalblue button[type=submit] {
    border-color: #4169e1;
    background: #4169e1;
}

/*スクロールダウン全体の場所*/
.scrolldown4{
    position:absolute;
    bottom:1%;
    right:50%;
    animation: arrowmove 1s ease-in-out infinite;
    z-index: 99;
    }

    @keyframes arrowmove{
    0%{bottom:1%;}
    50%{bottom:3%;}
    100%{bottom:1%;}
    }


    .scrolldown4 span{

    position: absolute;
    left:-20px;
    bottom:10px;
    color: #eee;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    }

    /* 矢印の描写 */
    .scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 2px;
    height: 30px;
    background: #eee;
    transform: skewX(-31deg);
    }

    .scrolldown4:after{
    content:"";
    /*描画位置*/
    position: absolute;
    bottom:0;
    right:0;
    /*矢印の形状*/
    width:1px;
    height: 50px;
    background:#eee;
    }

.merchandise-txt {
    font-size: 20px;
    position: relative;
    padding: 0.6em;
    background: #e0edff;
}
.merchandise-txt:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
    width: 0;
    height: 0;
}
.merchandise svg {
    position: absolute;
    margin-top: 10px;
    right:8%;
    /* right: 150px; */
    z-index: 10;
}



.prefecture-list-area {
    margin-top: 50px;
}
@media screen and (max-width:390px) {
    .prefecture-list-area {
        margin-top: 100px;
    }
}

.prefecture-list-area h1 {
    text-align: center;
    font-size: 20px;
    position: relative;
    padding: 0 55px;
}
.prefecture-list-area h1::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: black;
}
.prefecture-list-area h1::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background-color: black;
}
.prefecture-list-area h1:before {
    left: 0;
}
.prefecture-list-area h1::after {
    right: 0;
}

.prefecture-list {
    display: flex;
    align-items: center;
    width: 66.67%;
    margin:30px auto;
    font-size: 15px;
}


.prefecture-list li{
    width: 40%;
}
@media screen and (max-width:390px) {
    .prefecture-list {
        display: inline-block;
        width: 100%;
        margin: 0;
    }
    .prefecture-list li{
        width: 100%;
        margin-bottom: 10px;
        border: 0.5px solid #acacac;
    }
}

.prefecture-list input[type="checkbox"]{
    transform: scale(0.8);
    margin-bottom:4px;
}

.prefecture-list li:first-child{
    margin-right: auto;
}

